[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-amazon-sp-api = "*"
django = "*"
django-bootstrap-v5 = "*"
django-crispy-forms = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.9"
